{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    <!-- {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
        </div>
    </div>
    {%- endif %}
    {%- endwith %} -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to your game room!</h1>
            <p class="lead">Let's play and measure the best effort ever</p>
            <hr class="my-4">
            
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill"><b>Room name:</b> {{room_name}}</li>
                <li class="list-group-item flex-fill"><b>Room key:</b> {{room_key}}</li>
                <li class="list-group-item flex-fill"><b>Owner name:</b> {{owner_name}}</li>
            {% if room_admin %}
                <li class="list-group-item flex-fill"><b>Total attendents:</b> <span id="total_attendents">0</span></li>                
            {% endif %}
            </ul>

            <div class="text-center">
                <p>
                    <a class="btn btn-lg btn-primary" id="start_game" role="button" href="#">START GAME</a>
                    <a class="btn btn-lg btn-danger" id="stop_game" role="button" href="#">STOP</a>
                </p>
            </div>
        </div>
      </div>




</div>

<script>
    room_key = '{{room_key}}';
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/game_room.js') }}"></script>
{%- endblock %}