{%- extends "base.html" %}


{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Join to a room</h1>
        <p>Note: Your data isn't going anywhere.</p>
    </div>
    <div class="col-md-12">
        <form name="form_new_room" id="form_new_room">
            <div class="form-group">
                <label for="name">Your name: *</label>
                <input type="text" class="form-control" id="name" aria-describedby="name_help" required
                    minlength="3">
            </div>
            <div class="form-group">
                <label for="room_key">Room key *</label>
                <input type="text" class="form-control" id="room_key" aria-describedby="room_key_help" required
                    minlength="3">
                <small id="room_key_help" class="form-text text-muted">You can get the key with the owner of the room.</small>
            </div>

            <a class="btn btn-primary" id="btn_join" role="button" href="#"><b>JOIN</b></a>
            <a class="btn btn-default" id="btn_cancel" role="button" href="/">Cancel</a>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/join_room.js') }}"></script>
    {%- endblock %}